@import url("https://fonts.googleapis.com/css?family=Sofia");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  padding: 5rem 0;
}
.restrurent {
  font-family: "Sofia", sans-serif;
}

.title {
  text-align: center;

  margin-bottom: 20px;
}
.menuTitle {
  padding-top: 20px;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}

.btn-container {
  text-align: center;
  padding: 20px 0;
}

.filter-btn {
  color: #ff4a1c;
  padding: 5px 8px;
  margin-left: 10px;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
  margin-bottom: 30px;
}

button:hover {
  background-color: #ff773d;
  cursor: pointer;
  color: white;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 30rem;
}

.imgclass {
  border: 3px solid #ff773d;
  border-radius: 10px;
  height: 200px;
  width: 230px;
  object-fit: cover;
}

.items-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted grey;
}

.items-info header h4 {
  margin-bottom: 0.5rem;
  font-family: Arial;
}

.price {
  color: #d7b806;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
  font-size: 16px;
  color: #888;
}

button {
  color: white;
  background-color: #e72929;
  border: none;
  font-size: 15px;
  padding: 12px 23px;
  border-radius: 10rem;
  outline: none;
  margin-top: 20px;
  margin-left: 0;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  img {
    height: 150px;
  }
  .menu-item {
    display: flex;
  }
  button {
    margin: 20px;
  }
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container input {
  border-radius: 10rem 0 0 10rem;
  border: none;
  height: 3rem;
  width: 20rem;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

.container button {
  color: grey;
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 0 10rem 10rem 0;
  border: none;
  background-color: #3bac0a;
  color: white;
  opacity: 0.8;
  outline: none;
}

@media screen and (max-width: 600px) {
  .container input {
    width: 15rem; /* Decrease the width of the input field */
  }

  .container button {
    width: 4rem; /* Decrease the width of the button */
  }
}

.container button:hover {
  opacity: 1;
  cursor: pointer;
}

.container button {
  margin: 0;
  padding: 0;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* You can adjust this based on your preference */
  font-size: 20px; /* Adjust font size as needed */
  color: #000; /* Change the color as needed */
  margin-left: 400px;
  margin-top: -90px;
}

/* Existing styles for the tags container */
.Tagscontainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -20px;
  justify-content: center; /* This is already set inline but moved here for consolidation */
}

/* Existing styles for individual tags */
.Tagscontainer span {
  background-color: #f0f0f0;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: blue;
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

/* New styles for hover effect */
.Tagscontainer span:hover {
  background-color: #d0d0d0; /* Change to desired hover background color */
  color: #000; /* Optional: Change text color on hover if needed */
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.menuSection {
  flex-grow: 1;
}

.budgetFilterContainerInsideRecommendation {
  margin-top: 2rem; /* Space from the recommendation content */
  padding: 1rem;
  background-color: #f9f9f9; /* Slightly different background for distinction */
  border-radius: 8px;
  border: 1px solid #e0e0e0; /* Subtle border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.budgetFilterContainerInsideRecommendation h4 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.2rem;
}

.budgetFilterContainerInsideRecommendation div {
  margin-bottom: 0.5rem;
}

.budgetFilterContainerInsideRecommendation input[type="checkbox"] {
  margin-right: 0.5rem;
}

.budgetFilterContainerInsideRecommendation label {
  margin: 0;
  font-size: 1rem;
  color: #666; /* Darker text for better readability */
  cursor: pointer; /* Indicate clickable label */
}

/* Styling for checkboxes */
.budgetFilterContainerInsideRecommendation
  input[type="checkbox"]:checked
  + label {
  color: #0056b3; /* Highlight color when checked */
}

.budgetFilterContainerInsideRecommendation input[type="checkbox"] {
  cursor: pointer; /* Indicate clickable checkbox */
}

/* For Modal */
.budgetFilterContainerInsideRecommendationModel {
  margin-top: 2rem; /* Space from the recommendation content */
  padding: 1rem;
}

.budgetFilterContainerInsideRecommendationModel h4 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.2rem;
}

.budgetFilterContainerInsideRecommendationModel div {
  margin-bottom: 0.5rem;
}

.budgetFilterContainerInsideRecommendationModel input[type="checkbox"] {
  margin-right: 0.5rem;
}

.budgetFilterContainerInsideRecommendationModel label {
  margin: 0;
  font-size: 1rem;
  color: #666; /* Darker text for better readability */
  cursor: pointer; /* Indicate clickable label */
}

/* Styling for checkboxes */
.budgetFilterContainerInsideRecommendationModel
  input[type="checkbox"]:checked
  + label {
  color: #0056b3; /* Highlight color when checked */
}

.budgetFilterContainerInsideRecommendationModel input[type="checkbox"] {
  cursor: pointer; /* Indicate clickable checkbox */
}

.showFilterButton {
  display: none; /* Hide by default */
}

@media screen and (max-width: 930px) {
  /* Adjust based on your design */
  .showFilterButton {
    display: block; /* Only show on small screens */
    margin: 10px; /* Adjust as needed */
  }
}

.recommendationContainer {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f8f8f8; /* Light grey background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.singleRecommendation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.singleRecommendation h3 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.5rem;
}

.singleRecommendation img {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.singleRecommendation .itemsInfo {
  width: 80%;
  margin-left: 1.5rem;
}

.singleRecommendation .price {
  font-size: 1.2rem;
  color: #4caf50;
  margin: 0.5rem 0;
}

.singleRecommendation button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 20px; /* More pronounced rounded corners */
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  transition: background-color 0.3s ease;
}

.singleRecommendation button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

@media screen and (max-width: 900px) {
  .menuSection {
    margin-right: 77px; /* Adjust the margin as needed */
  }
}

.container .coolButton {
  background: linear-gradient(to right, #f857a6, #ff5858);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  margin-left: 10px;
  width: 140px;
  padding-left: 10px;
  padding-right: 10px;
}

.container .coolButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  transition: all 0.5s ease;
}

.container .coolButton:hover:before {
  left: 100%;
}

.container .coolButton:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.container .BudgetFiltering {
  background: linear-gradient(to right, #4d94ff, #0066ff);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  margin-left: 10px;
  width: 140px;
  padding-left: 10px;
  padding-right: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.container .BudgetFiltering:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  transition: all 0.5s ease;
}

.container .BudgetFiltering:hover:before {
  left: 100%;
}

.container .BudgetFiltering:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

/* // */

.modalContainer {
  max-width: 600px;
  margin: 0 auto;
}

.modalContainer .singleRecommendation {
  display: flex;
  align-items: center;
}

.modalContainer .menuItem {
  display: flex;
  padding: 20px;
}

.modalContainer .imgClass {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.modalContainer .itemsInfo {
  flex-grow: 1;
}

.modalContainer .itemName {
  font-size: 18px;
  margin-bottom: 5px;
}

.modalContainer .itemPrice {
  font-size: 16px;
  color: #f857a6;
}

.modalContainer .itemDescription {
  margin-top: 10px;
}

.modalContainer .addToCartButton {
  background-color: #c08de7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modalContainer .addToCartButton:hover {
  background-color: #ff5858;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .searchContainer {
    display: flex;
    align-items: center;
  }

  .buttonContainer {
    margin-top: 10px; /* Adjust margin as needed */
  }
}

@media screen and (max-width: 600px) {
  .container .buttonContainer {
    flex-direction: column;
    align-items: center;
  }

  .container .coolButton,
  .container .BudgetFiltering {
    margin: 10px 0; /* Adjust margin for smaller screens */
    width: 120px; /* Decrease button width for smaller screens */
    height: 40px; /* Decrease button height for smaller screens */
    font-size: 12px; /* Decrease font size for smaller screens */
    padding: 5px 10px; /* Adjust padding for smaller screens */
  }
}

@media screen and (max-width: 600px) {
  .modalContainer {
    max-width: 80%; /* Adjust maximum width for smaller screens */
  }

  .modalContainer .singleRecommendation {
    flex-direction: column; /* Adjust layout for smaller screens */
    align-items: center;
  }

  .modalContainer .imgClass {
    width: 100%; /* Make image width 100% for smaller screens */
    height: auto; /* Automatically adjust image height */
    margin-right: 0; /* Remove margin for smaller screens */
    margin-bottom: 10px; /* Add some bottom margin for spacing */
  }

  .modalContainer .menuItem {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .modalContainer .itemsInfo {
    text-align: center; /* Center align text for smaller screens */
  }

  .modalContainer .itemName {
    font-size: 16px; /* Decrease font size for smaller screens */
  }

  .modalContainer .itemPrice {
    font-size: 14px; /* Decrease font size for smaller screens */
  }

  .modalContainer .itemDescription {
    margin-top: 5px; /* Adjust margin for smaller screens */
  }

  .modalContainer .addToCartButton {
    font-size: 12px; /* Decrease font size for smaller screens */
    padding: 6px 12px; /* Adjust padding for smaller screens */
  }
}
