.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px 1px;
  margin-top: 60px;
}

/* .list li a {
  height: 22.5rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
} */
.list li a:hover {
  transform: translateY(-10px);
}
.image {
  object-fit: cover;
  height: 14.5rem;
}

.content {
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
}

.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.favorite.not {
  color: grey;
}

.product_item_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origins span {
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
}

.origins {
  flex: 9;
}

.cook_time {
  font-size: 0.9rem;
  flex: 3;
  text-align: right;
}

.price {
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  background-color: white;
  padding: 0.3rem 100% 0 0;
  color: #414141;
  margin-top: 0.7rem;
  font-size: 1.1rem;
}

.buttonContainer {
  margin-bottom: -20px;
}

/* Example of a media query for screen widths of 600px or less */
@media (max-width: 1200px) {
  .buttonContainer {
    margin-bottom: -15px;
  }
}

.clickableArea {
  height: 22.5rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
